<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="WWHDHacker.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <WWHDHacker.Properties.Settings>
            <setting name="wiiuIP" serializeAs="String">
                <value>192.168.</value>
            </setting>
            <setting name="warningRuns" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="displayMacros" serializeAs="String">
                <value>True</value>
            </setting>
        </WWHDHacker.Properties.Settings>
    </userSettings>
</configuration>